*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    padding: 30px;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.saving{
    display: flex;
}
.saving .dots{
    height: 30px;
    width: 30px;
    display: block;
    background: white;
    border-radius: 80px;
    animation-name: opacityDots;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    margin: 0 5px;
}
.saving .dots:nth-child(1){
    animation-delay: 0.3s;
}
.saving .dots:nth-child(2){
    animation-delay: 0.6s;
}
.saving .dots:nth-child(3){
    animation-delay: 0.9s;
}
.saving .dots:nth-child(4){
    animation-delay: 1.2s;
}
.saving .dots:nth-child(5){
    animation-delay: 1.5s;
}
@keyframes opacityDots{
    0%{
        opacity: 0.2;
        transform: scale(0.5);
    }
    20%{
        opacity: 0.5;
        transform: scale(1);
    }
    100%{
        opacity: 0.2;
        transform: scale(0.5);
    }
}
